body {
    
	
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	
}

  



#heading
{
    text-align:center;
    
}
#form1
{
    
	
	box-shadow: none;
    width:400px;
    height:300px;
    box-sizing: border-box;
	font-size: 12px;
	border-radius: 3px;
    position:absolute; 
    left:500px ;
    bottom:200px;
    padding:40px;
    display:inline-block;
    background-color: rgba(0,0,0,0.7);
    border-color: rgba(0,0,0,.2);
	color: #a8acb1;
    
    
    
}
#form2{
    box-shadow: none;
   width:400px;
    box-sizing: border-box;
    font-size: 12px;
	border-radius: 3px;
    position:relative;
    top:10px;
    left:350px ;
    bottom:200px;
    padding:40px;
    background-color: rgba(0,0,0,0.7);
    border-color: rgba(0,0,0,.2);
	color: #a8acb1;
    
    
    
    
    
}
.input1{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 70px;
    margin: 8px 0;
    box-sizing:border-box;
    border-radius: 2px;
    border-color: rgba(0,0,0,.2);
    background-color:rgba(0,0,0,0.8);
    color:aliceblue;
    
    
}

#btn1{
    background-color: dodgerblue;
    color:white;
    width:200px;
    font-size:20px;
    padding:10px;
    border-radius:5px;

    text-decoration: none;
    text-align: center;
    
    


}
.register
{
color:white;
text-decoration: none;
}